@import "compass/css3";
$w: 100vw;
$h: 100vh;

$title_font_size:2em;
$bar_btn_font_size:1.2em;
$n: transparent;
$team_rwby: "../R.jpg", "../W.jpg", "../B.jpg", "../Y.jpg";

* {
	margin: 0px;
	padding: 0px;
	font-family: arial;
}

@font-face {
    font-family: RWBY;
    src: url(https://dl.dropboxusercontent.com/u/92502085/rwby_style.ttf) format("truetype");
}

@mixin bar_hover{
	&:hover{
		@include transition(color 0.2s, transform 0.3s);
		@include animation(shake 0.2s linear forwards);
		color: #ccc;
	}
}

@function _opacity_color($main, $opacity){
	@return rgba($main,$main,$main,$opacity);
}

@include keyframes (shake) {
	0% {
		@include transform(translateX(0px));
	}
	12.5%{
		@include transform(translateX(-5px));
	}
	37.5% {
		@include transform(translateX(5px));
	}
	62.5%{
		@include transform(translateX(-5px));
	}
	100% {
		@include transform(translateX(0px));
	}
}

body{
	position: relative;
	@include background(linear-gradient(45deg, black, #555));
	background-size: 100vw 100vh;
	overflow: hidden;

	color: #141414;
	@include text-shadow(0px 0px 1px snow );
}

.header{
	position: fixed;
	display: inline-block;
	text-align: left;

	width: 100vw;
	height: 5vh;


	.title{
		position: relative;
		float: left;
		height: 100%;
		border: 3px solid transparent;
		@include transition(outline 0.1s, border 0.1s);
		cursor: pointer;
		font-size: $title_font_size;
		font-family: arial;
		color: #141414;
		@include text-shadow(0px 0px 3px snow);
		text-align: center;

		@include bar_hover();

		&:before{
			content: '';
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.about{
		float: right;
		height: 100%;
		margin-right: 3vw;
		cursor: pointer;

		@include bar_hover();

		font-size: $bar_btn_font_size;

		&:before{
			content: '';
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.contact{
		float: right;
		height: 100%;
		margin-right: 3vw;
		cursor: pointer;

		@include bar_hover();

		font-size: $bar_btn_font_size;

		&:before{
			content: '';
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.main_body{
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	top: 5vh;
	height: 95vh;
	.scene{
		position: absolute;
	}
	
	.wonder{
		// position: relative;
		width: 100%;
		height: 100%;
		@include box-shadow(0px 0px 20px snow);
		@include transition(box-shadow 0.2s);
		background-color: _opacity_color(0,0.6);
		cursor: pointer;

		&:hover{
			@include box-shadow(0px 0px 60px snow);
		}
	}
	@for $i from 1 through 20 {
		@if $i%5 == 1 {
			.scene:nth-child(#{$i}){
				top: 10 + floor($i/5) * 100vh;
				left: 5vw;
				width: 30vw;
				height: 40vh;
			}
		}@else if $i%5==2{
			.scene:nth-child(#{$i}){
				top: 48vh + floor($i/5) * 100vh;
				left: 20vw;
				width: 20vw;
				height: 50vh;
			}
		}@else if $i%5==3{
			.scene:nth-child(#{$i}){
				top: 81vh + floor($i/5) * 100vh;
				left: 63vw;
				width: 30vw;
				height: 45vh;
			}
		}@else if $i%5==4{
			.scene:nth-child(#{$i}){
				top: 40vh + floor($i/5) * 100vh;
				left: 65vw;
				width: 30vw;
				height: 20vh;
			}
		}@else{
			.scene:nth-child(#{$i}){
				top: 9vh + (floor($i/5)-1) * 100vh;
				left: 47vw;
				width: 20vw;
				height: 43vh;
			}
		}
	}
}

.egg{
	position: fixed;
	top: 50vh;
	left: 50vw;
	width: 50px;
	height: 50px;
	.egg_in{
		width: 100%;
		height: 100%;
		@include box-shadow(0px 0px 20px snow);
		background-color: _opacity_color(0, 0.8);
		border-radius: 50%;
		@include transition(all 0.5s);
		&:hover{
			cursor: pointer;
			border-radius: 0px;
			background: snow;
		}
	}
}

.detail{
	position: fixed;
	top:0px;
	width: 100vw;
	height:100vh;
	background-color:_opacity_color(0, 0.8);
	z-index: -3;
	opacity: 0;

	display: flex;
	align-items:center;
	justify-content:center;
	@include transition(opacity 0.3s);

	._block{
		position: relative;
		top: 0px;
		width: 80%;
		height: 80%;
		background-color: _opacity_color(255,0.5);

		display: flex;
		justify-content:space-around;
		align-items:center;
		@include box-shadow(0px 0px 20px black inset);

		._img{
			width: 60%;
			height: 80%;
			background-image:url(unquote(nth($team_rwby, 1)));
			@include box-shadow(0px 0px 60px 30px black inset);
			&:hover{
				@include box-shadow(0px 0px 0px 0px black inset);
			}

			opacity: 0;
			@include transition(transform 0.3s 0.1s, opacity 0.3s 0.1s);
			@include transform(translateX(-50px), box-shadow 0.2s);
		}
		._cover{
			display: flex;
			flex-direction:column;
			justify-content:space-around;
			align-items:center;
			width: 30%;
			height: 80%;

			._content{
				display: flex;
				justify-content:center;
				align-items:center;

				text-align: justify;
				width: 100%;
				height: 100%;
				margin: 5%;
				padding:5%;
				background-color: _opacity_color(255,0.3);
				@include box-shadow(0px 0px 20px black);

				opacity: 0;
				@include transition(transform 0.3s 0.2s, opacity 0.3s 0.2s);
				@include transform(translateX(-50px));
			}
			.preview_btn{
				display: flex;
				justify-content:center;
				align-items:center;
				background-color: _opacity_color(255,0.3);
				@include box-shadow(0px 0px 20px black);
				width: 100px;
				height: 100px;
				cursor: pointer;

				opacity: 0;
				@include transition(transform 0.3s 0.3s, opacity 0.3s 0.3s);
				@include transform(translateX(-50px));
			}
		}
	}
	._back{
		position: absolute;
		top: 0px;
		right: 0px;
		width: 5vw;
		height: 5vw;
		&:hover{
			@include transition(transform 0.2s);
			@include transform(rotateZ(90deg));
			cursor: pointer;
		}
		&:after{
			position: absolute;
			top: 0px;
			right: 45%;
			content: '';
			background-color: _opacity_color(255,1);
			display: inline-block;
			width: 10%;
			height: 100%;
			@include transform(rotateZ(45deg));
		}
		&:before{
			position: absolute;
			top: 0px;
			left: 45%;
			content: '';
			background-color: _opacity_color(255,1);
			display: inline-block;
			width: 10%;
			height: 100%;
			@include transform(rotateZ(-45deg));
		}
	}
}

._onclick{
	@include box-shadow(0px 0px 60px $n);
}

.to_top{
	position: fixed;
	bottom: 7vh;
	left: 3vw;
	width: 60px;
	height: 60px;
	color: snow;
	opacity: 0;
	@include box-shadow(0px 0px 10px snow );
	@include transition(opacity 0.2s);


	&:hover{
		&:after{
			@include animation(top_animation 0.2s linear forwards);
		}
	}
	&:after{
		cursor: pointer;
		content: 'Back';
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content:center;
		align-items:center;
	}
}
@include keyframes(top_animation) {
	0%{
		opacity: 1;
	}
	25%{
		opacity: 0;
	}
	50%{
		opacity: 0;
		content: 'Top';
	}
	100%{
		opacity: 1;
		content: 'Top';
	}
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0);
	border: 1px solid rgba(255,255,255,1);
}