/* line 10, ../sass/style.scss */
* {
  margin: 0px;
  padding: 0px;
  font-family: arial;
}

@font-face {
  font-family: RWBY;
  src: url(https://dl.dropboxusercontent.com/u/92502085/rwby_style.ttf) format("truetype");
}
@-moz-keyframes shake {
  0% {
    -moz-transform: translateX(0px);
    transform: translateX(0px);
  }
  12.5% {
    -moz-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  37.5% {
    -moz-transform: translateX(5px);
    transform: translateX(5px);
  }
  62.5% {
    -moz-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -moz-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  12.5% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  37.5% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  62.5% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes shake {
  0% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  12.5% {
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  37.5% {
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  62.5% {
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
/* line 51, ../sass/style.scss */
body {
  position: relative;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU1NTU1NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-linear-gradient(45deg, #000000, #555555);
  background: -webkit-linear-gradient(45deg, #000000, #555555);
  background: linear-gradient(45deg, #000000, #555555);
  background-size: 100vw 100vh;
  overflow: hidden;
  color: #141414;
  text-shadow: 0px 0px 1px snow;
}

/* line 61, ../sass/style.scss */
.header {
  position: fixed;
  display: inline-block;
  text-align: left;
  width: 100vw;
  height: 5vh;
}
/* line 70, ../sass/style.scss */
.header .title {
  position: relative;
  float: left;
  height: 100%;
  border: 3px solid transparent;
  -moz-transition: outline 0.1s, border 0.1s;
  -o-transition: outline 0.1s, border 0.1s;
  -webkit-transition: outline 0.1s, border 0.1s;
  transition: outline 0.1s, border 0.1s;
  cursor: pointer;
  font-size: 2em;
  font-family: arial;
  color: #141414;
  text-shadow: 0px 0px 3px snow;
  text-align: center;
}
/* line 22, ../sass/style.scss */
.header .title:hover {
  -moz-transition: color 0.2s, -moz-transform 0.3s;
  -o-transition: color 0.2s, -o-transform 0.3s;
  -webkit-transition: color 0.2s, -webkit-transform 0.3s;
  transition: color 0.2s, transform 0.3s;
  -moz-animation: shake 0.2s linear forwards;
  -webkit-animation: shake 0.2s linear forwards;
  animation: shake 0.2s linear forwards;
  color: #ccc;
}
/* line 85, ../sass/style.scss */
.header .title:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 93, ../sass/style.scss */
.header .about {
  float: right;
  height: 100%;
  margin-right: 3vw;
  cursor: pointer;
  font-size: 1.2em;
}
/* line 22, ../sass/style.scss */
.header .about:hover {
  -moz-transition: color 0.2s, -moz-transform 0.3s;
  -o-transition: color 0.2s, -o-transform 0.3s;
  -webkit-transition: color 0.2s, -webkit-transform 0.3s;
  transition: color 0.2s, transform 0.3s;
  -moz-animation: shake 0.2s linear forwards;
  -webkit-animation: shake 0.2s linear forwards;
  animation: shake 0.2s linear forwards;
  color: #ccc;
}
/* line 103, ../sass/style.scss */
.header .about:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 111, ../sass/style.scss */
.header .contact {
  float: right;
  height: 100%;
  margin-right: 3vw;
  cursor: pointer;
  font-size: 1.2em;
}
/* line 22, ../sass/style.scss */
.header .contact:hover {
  -moz-transition: color 0.2s, -moz-transform 0.3s;
  -o-transition: color 0.2s, -o-transform 0.3s;
  -webkit-transition: color 0.2s, -webkit-transform 0.3s;
  transition: color 0.2s, transform 0.3s;
  -moz-animation: shake 0.2s linear forwards;
  -webkit-animation: shake 0.2s linear forwards;
  animation: shake 0.2s linear forwards;
  color: #ccc;
}
/* line 121, ../sass/style.scss */
.header .contact:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

/* line 130, ../sass/style.scss */
.main_body {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 5vh;
  height: 95vh;
}
/* line 136, ../sass/style.scss */
.main_body .scene {
  position: absolute;
}
/* line 140, ../sass/style.scss */
.main_body .wonder {
  width: 100%;
  height: 100%;
  -moz-box-shadow: 0px 0px 20px snow;
  -webkit-box-shadow: 0px 0px 20px snow;
  box-shadow: 0px 0px 20px snow;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
/* line 149, ../sass/style.scss */
.main_body .wonder:hover {
  -moz-box-shadow: 0px 0px 60px snow;
  -webkit-box-shadow: 0px 0px 60px snow;
  box-shadow: 0px 0px 60px snow;
}
/* line 155, ../sass/style.scss */
.main_body .scene:nth-child(1) {
  top: 10vh;
  left: 5vw;
  width: 30vw;
  height: 40vh;
}
/* line 162, ../sass/style.scss */
.main_body .scene:nth-child(2) {
  top: 48vh;
  left: 20vw;
  width: 20vw;
  height: 50vh;
}
/* line 169, ../sass/style.scss */
.main_body .scene:nth-child(3) {
  top: 81vh;
  left: 63vw;
  width: 30vw;
  height: 45vh;
}
/* line 176, ../sass/style.scss */
.main_body .scene:nth-child(4) {
  top: 40vh;
  left: 65vw;
  width: 30vw;
  height: 20vh;
}
/* line 183, ../sass/style.scss */
.main_body .scene:nth-child(5) {
  top: 9vh;
  left: 47vw;
  width: 20vw;
  height: 43vh;
}
/* line 155, ../sass/style.scss */
.main_body .scene:nth-child(6) {
  top: 110vh;
  left: 5vw;
  width: 30vw;
  height: 40vh;
}
/* line 162, ../sass/style.scss */
.main_body .scene:nth-child(7) {
  top: 148vh;
  left: 20vw;
  width: 20vw;
  height: 50vh;
}
/* line 169, ../sass/style.scss */
.main_body .scene:nth-child(8) {
  top: 181vh;
  left: 63vw;
  width: 30vw;
  height: 45vh;
}
/* line 176, ../sass/style.scss */
.main_body .scene:nth-child(9) {
  top: 140vh;
  left: 65vw;
  width: 30vw;
  height: 20vh;
}
/* line 183, ../sass/style.scss */
.main_body .scene:nth-child(10) {
  top: 109vh;
  left: 47vw;
  width: 20vw;
  height: 43vh;
}
/* line 155, ../sass/style.scss */
.main_body .scene:nth-child(11) {
  top: 210vh;
  left: 5vw;
  width: 30vw;
  height: 40vh;
}
/* line 162, ../sass/style.scss */
.main_body .scene:nth-child(12) {
  top: 248vh;
  left: 20vw;
  width: 20vw;
  height: 50vh;
}
/* line 169, ../sass/style.scss */
.main_body .scene:nth-child(13) {
  top: 281vh;
  left: 63vw;
  width: 30vw;
  height: 45vh;
}
/* line 176, ../sass/style.scss */
.main_body .scene:nth-child(14) {
  top: 240vh;
  left: 65vw;
  width: 30vw;
  height: 20vh;
}
/* line 183, ../sass/style.scss */
.main_body .scene:nth-child(15) {
  top: 209vh;
  left: 47vw;
  width: 20vw;
  height: 43vh;
}
/* line 155, ../sass/style.scss */
.main_body .scene:nth-child(16) {
  top: 310vh;
  left: 5vw;
  width: 30vw;
  height: 40vh;
}
/* line 162, ../sass/style.scss */
.main_body .scene:nth-child(17) {
  top: 348vh;
  left: 20vw;
  width: 20vw;
  height: 50vh;
}
/* line 169, ../sass/style.scss */
.main_body .scene:nth-child(18) {
  top: 381vh;
  left: 63vw;
  width: 30vw;
  height: 45vh;
}
/* line 176, ../sass/style.scss */
.main_body .scene:nth-child(19) {
  top: 340vh;
  left: 65vw;
  width: 30vw;
  height: 20vh;
}
/* line 183, ../sass/style.scss */
.main_body .scene:nth-child(20) {
  top: 309vh;
  left: 47vw;
  width: 20vw;
  height: 43vh;
}

/* line 193, ../sass/style.scss */
.egg {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 50px;
  height: 50px;
}
/* line 199, ../sass/style.scss */
.egg .egg_in {
  width: 100%;
  height: 100%;
  -moz-box-shadow: 0px 0px 20px snow;
  -webkit-box-shadow: 0px 0px 20px snow;
  box-shadow: 0px 0px 20px snow;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 206, ../sass/style.scss */
.egg .egg_in:hover {
  cursor: pointer;
  border-radius: 0px;
  background: snow;
}

/* line 214, ../sass/style.scss */
.detail {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -3;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
/* line 228, ../sass/style.scss */
.detail ._block {
  position: relative;
  top: 0px;
  width: 80%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  -moz-box-shadow: 0px 0px 20px black inset;
  -webkit-box-shadow: 0px 0px 20px black inset;
  box-shadow: 0px 0px 20px black inset;
}
/* line 240, ../sass/style.scss */
.detail ._block ._img {
  width: 60%;
  height: 80%;
  background-image: url(../R.jpg);
  -moz-box-shadow: 0px 0px 60px 30px black inset;
  -webkit-box-shadow: 0px 0px 60px 30px black inset;
  box-shadow: 0px 0px 60px 30px black inset;
  opacity: 0;
  -moz-transition: -moz-transform 0.3s 0.1s, opacity 0.3s 0.1s;
  -o-transition: -o-transform 0.3s 0.1s, opacity 0.3s 0.1s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition-delay: 0.1s, 0.1s;
  transition: transform 0.3s 0.1s, opacity 0.3s 0.1s;
  -moz-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}
/* line 245, ../sass/style.scss */
.detail ._block ._img:hover {
  -moz-box-shadow: 0px 0px 0px 0px black inset;
  -webkit-box-shadow: 0px 0px 0px 0px black inset;
  box-shadow: 0px 0px 0px 0px black inset;
}
/* line 253, ../sass/style.scss */
.detail ._block ._cover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 80%;
}
/* line 261, ../sass/style.scss */
.detail ._block ._cover ._content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: 100%;
  margin: 5%;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 0px 20px black;
  -webkit-box-shadow: 0px 0px 20px black;
  box-shadow: 0px 0px 20px black;
  opacity: 0;
  -moz-transition: -moz-transform 0.3s 0.2s, opacity 0.3s 0.2s;
  -o-transition: -o-transform 0.3s 0.2s, opacity 0.3s 0.2s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition-delay: 0.2s, 0.2s;
  transition: transform 0.3s 0.2s, opacity 0.3s 0.2s;
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}
/* line 278, ../sass/style.scss */
.detail ._block ._cover .preview_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 0px 20px black;
  -webkit-box-shadow: 0px 0px 20px black;
  box-shadow: 0px 0px 20px black;
  width: 100px;
  height: 100px;
  cursor: pointer;
  opacity: 0;
  -moz-transition: -moz-transform 0.3s 0.3s, opacity 0.3s 0.3s;
  -o-transition: -o-transform 0.3s 0.3s, opacity 0.3s 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition-delay: 0.3s, 0.3s;
  transition: transform 0.3s 0.3s, opacity 0.3s 0.3s;
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}
/* line 294, ../sass/style.scss */
.detail ._back {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 5vw;
  height: 5vw;
}
/* line 300, ../sass/style.scss */
.detail ._back:hover {
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  cursor: pointer;
}
/* line 305, ../sass/style.scss */
.detail ._back:after {
  position: absolute;
  top: 0px;
  right: 45%;
  content: '';
  background-color: white;
  display: inline-block;
  width: 10%;
  height: 100%;
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
/* line 316, ../sass/style.scss */
.detail ._back:before {
  position: absolute;
  top: 0px;
  left: 45%;
  content: '';
  background-color: white;
  display: inline-block;
  width: 10%;
  height: 100%;
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

/* line 330, ../sass/style.scss */
._onclick {
  -moz-box-shadow: 0px 0px 60px transparent;
  -webkit-box-shadow: 0px 0px 60px transparent;
  box-shadow: 0px 0px 60px transparent;
}

/* line 334, ../sass/style.scss */
.to_top {
  position: fixed;
  bottom: 7vh;
  left: 3vw;
  width: 60px;
  height: 60px;
  color: snow;
  opacity: 0;
  -moz-box-shadow: 0px 0px 10px snow;
  -webkit-box-shadow: 0px 0px 10px snow;
  box-shadow: 0px 0px 10px snow;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
/* line 347, ../sass/style.scss */
.to_top:hover:after {
  -moz-animation: top_animation 0.2s linear forwards;
  -webkit-animation: top_animation 0.2s linear forwards;
  animation: top_animation 0.2s linear forwards;
}
/* line 351, ../sass/style.scss */
.to_top:after {
  cursor: pointer;
  content: 'Back';
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@-moz-keyframes top_animation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    content: 'Top';
  }
  100% {
    opacity: 1;
    content: 'Top';
  }
}
@-webkit-keyframes top_animation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    content: 'Top';
  }
  100% {
    opacity: 1;
    content: 'Top';
  }
}
@keyframes top_animation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    content: 'Top';
  }
  100% {
    opacity: 1;
    content: 'Top';
  }
}
/* line 379, ../sass/style.scss */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* line 383, ../sass/style.scss */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* line 386, ../sass/style.scss */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 1px solid white;
}
