/* line 11, ../sass/style.scss */
* {
  margin: 0px;
  padding: 0px;
  font-family: arial, "Yu Gothic", "SimHei";
}

@font-face {
  font-family: RWBY;
  src: url(https://dl.dropboxusercontent.com/u/92502085/rwby_style.ttf) format("truetype");
}
@-moz-keyframes shake {
  0% {
    -moz-transform: translateX(0px);
    transform: translateX(0px);
  }
  12.5% {
    -moz-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  37.5% {
    -moz-transform: translateX(5px);
    transform: translateX(5px);
  }
  62.5% {
    -moz-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -moz-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  12.5% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  37.5% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  62.5% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes shake {
  0% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  12.5% {
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  37.5% {
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  62.5% {
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
/* line 52, ../sass/style.scss */
body {
  position: relative;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU1NTU1NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-linear-gradient(45deg, #000000, #555555);
  background: -webkit-linear-gradient(45deg, #000000, #555555);
  background: linear-gradient(45deg, #000000, #555555);
  background-size: 100vw 100vh;
  overflow: hidden;
  color: #141414;
  text-shadow: 0px 0px 1px snow;
}

/* line 62, ../sass/style.scss */
.header {
  position: fixed;
  display: inline-block;
  text-align: left;
  width: 100vw;
  height: 5vh;
}
/* line 71, ../sass/style.scss */
.header .title {
  position: relative;
  float: left;
  height: 100%;
  border: 3px solid transparent;
  -moz-transition: outline 0.1s, border 0.1s;
  -o-transition: outline 0.1s, border 0.1s;
  -webkit-transition: outline 0.1s, border 0.1s;
  transition: outline 0.1s, border 0.1s;
  cursor: pointer;
  font-size: 2em;
  font-family: arial;
  color: #141414;
  text-shadow: 0px 0px 3px snow;
  text-align: center;
}
/* line 23, ../sass/style.scss */
.header .title:hover {
  -moz-transition: color 0.2s, -moz-transform 0.3s;
  -o-transition: color 0.2s, -o-transform 0.3s;
  -webkit-transition: color 0.2s, -webkit-transform 0.3s;
  transition: color 0.2s, transform 0.3s;
  -moz-animation: shake 0.2s linear forwards;
  -webkit-animation: shake 0.2s linear forwards;
  animation: shake 0.2s linear forwards;
  color: #ccc;
}
/* line 86, ../sass/style.scss */
.header .title:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 94, ../sass/style.scss */
.header .about {
  float: right;
  height: 100%;
  margin-right: 3vw;
  cursor: pointer;
  font-size: 1.2em;
}
/* line 23, ../sass/style.scss */
.header .about:hover {
  -moz-transition: color 0.2s, -moz-transform 0.3s;
  -o-transition: color 0.2s, -o-transform 0.3s;
  -webkit-transition: color 0.2s, -webkit-transform 0.3s;
  transition: color 0.2s, transform 0.3s;
  -moz-animation: shake 0.2s linear forwards;
  -webkit-animation: shake 0.2s linear forwards;
  animation: shake 0.2s linear forwards;
  color: #ccc;
}
/* line 104, ../sass/style.scss */
.header .about:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 112, ../sass/style.scss */
.header .creator {
  float: right;
  height: 100%;
  margin-right: 3vw;
  cursor: pointer;
  font-size: 1.2em;
}
/* line 23, ../sass/style.scss */
.header .creator:hover {
  -moz-transition: color 0.2s, -moz-transform 0.3s;
  -o-transition: color 0.2s, -o-transform 0.3s;
  -webkit-transition: color 0.2s, -webkit-transform 0.3s;
  transition: color 0.2s, transform 0.3s;
  -moz-animation: shake 0.2s linear forwards;
  -webkit-animation: shake 0.2s linear forwards;
  animation: shake 0.2s linear forwards;
  color: #ccc;
}
/* line 122, ../sass/style.scss */
.header .creator:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

/* line 131, ../sass/style.scss */
.main_body {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 5vh;
  left: 0px;
  height: 95vh;
  -moz-transition: left 0.4s;
  -o-transition: left 0.4s;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
}
/* line 140, ../sass/style.scss */
.main_body .scene {
  position: absolute;
}
/* line 144, ../sass/style.scss */
.main_body .wonder {
  position: relative;
  width: 100%;
  height: 100%;
  -moz-box-shadow: 0px 0px 20px snow;
  -webkit-box-shadow: 0px 0px 20px snow;
  box-shadow: 0px 0px 20px snow;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}
/* line 155, ../sass/style.scss */
.main_body .wonder p {
  color: snow;
  font-size: 2vw;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 164, ../sass/style.scss */
.main_body .wonder p:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 171, ../sass/style.scss */
.main_body .wonder img {
  display: inline-block;
  height: 150%;
  opacity: 0.3;
  width: auto;
  -moz-transition: opacity 0.2s, -moz-transform 0.3s;
  -o-transition: opacity 0.2s, -o-transform 0.3s;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, transform 0.3s;
}
/* line 178, ../sass/style.scss */
.main_body .wonder:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 185, ../sass/style.scss */
.main_body .wonder:hover {
  -moz-box-shadow: 0px 0px 60px snow;
  -webkit-box-shadow: 0px 0px 60px snow;
  box-shadow: 0px 0px 60px snow;
}
/* line 187, ../sass/style.scss */
.main_body .wonder:hover img {
  opacity: 1;
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 191, ../sass/style.scss */
.main_body .wonder:hover p {
  height: 0%;
}
/* line 198, ../sass/style.scss */
.main_body .scene:nth-child(1) {
  top: 10vh;
  left: 5vw;
  width: 30vw;
  height: 40vh;
}
/* line 205, ../sass/style.scss */
.main_body .scene:nth-child(2) {
  top: 48vh;
  left: 20vw;
  width: 20vw;
  height: 50vh;
}
/* line 212, ../sass/style.scss */
.main_body .scene:nth-child(3) {
  top: 81vh;
  left: 63vw;
  width: 30vw;
  height: 45vh;
}
/* line 219, ../sass/style.scss */
.main_body .scene:nth-child(4) {
  top: 40vh;
  left: 65vw;
  width: 30vw;
  height: 20vh;
}
/* line 226, ../sass/style.scss */
.main_body .scene:nth-child(5) {
  top: 9vh;
  left: 47vw;
  width: 20vw;
  height: 43vh;
}
/* line 198, ../sass/style.scss */
.main_body .scene:nth-child(6) {
  top: 110vh;
  left: 5vw;
  width: 30vw;
  height: 40vh;
}
/* line 205, ../sass/style.scss */
.main_body .scene:nth-child(7) {
  top: 148vh;
  left: 20vw;
  width: 20vw;
  height: 50vh;
}
/* line 212, ../sass/style.scss */
.main_body .scene:nth-child(8) {
  top: 181vh;
  left: 63vw;
  width: 30vw;
  height: 45vh;
}
/* line 219, ../sass/style.scss */
.main_body .scene:nth-child(9) {
  top: 140vh;
  left: 65vw;
  width: 30vw;
  height: 20vh;
}
/* line 226, ../sass/style.scss */
.main_body .scene:nth-child(10) {
  top: 109vh;
  left: 47vw;
  width: 20vw;
  height: 43vh;
}
/* line 198, ../sass/style.scss */
.main_body .scene:nth-child(11) {
  top: 210vh;
  left: 5vw;
  width: 30vw;
  height: 40vh;
}
/* line 205, ../sass/style.scss */
.main_body .scene:nth-child(12) {
  top: 248vh;
  left: 20vw;
  width: 20vw;
  height: 50vh;
}
/* line 212, ../sass/style.scss */
.main_body .scene:nth-child(13) {
  top: 281vh;
  left: 63vw;
  width: 30vw;
  height: 45vh;
}
/* line 219, ../sass/style.scss */
.main_body .scene:nth-child(14) {
  top: 240vh;
  left: 65vw;
  width: 30vw;
  height: 20vh;
}
/* line 226, ../sass/style.scss */
.main_body .scene:nth-child(15) {
  top: 209vh;
  left: 47vw;
  width: 20vw;
  height: 43vh;
}
/* line 198, ../sass/style.scss */
.main_body .scene:nth-child(16) {
  top: 310vh;
  left: 5vw;
  width: 30vw;
  height: 40vh;
}
/* line 205, ../sass/style.scss */
.main_body .scene:nth-child(17) {
  top: 348vh;
  left: 20vw;
  width: 20vw;
  height: 50vh;
}
/* line 212, ../sass/style.scss */
.main_body .scene:nth-child(18) {
  top: 381vh;
  left: 63vw;
  width: 30vw;
  height: 45vh;
}
/* line 219, ../sass/style.scss */
.main_body .scene:nth-child(19) {
  top: 340vh;
  left: 65vw;
  width: 30vw;
  height: 20vh;
}
/* line 226, ../sass/style.scss */
.main_body .scene:nth-child(20) {
  top: 309vh;
  left: 47vw;
  width: 20vw;
  height: 43vh;
}

/* line 236, ../sass/style.scss */
.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  font-size: 2em;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
/* line 251, ../sass/style.scss */
.loading .line {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  border-width: 0px 10px 0px 10px;
  border-color: rgba(255, 255, 255, 0.6);
  border-style: solid;
  -moz-animation: loading_animation 1s linear infinite;
  -webkit-animation: loading_animation 1s linear infinite;
  animation: loading_animation 1s linear infinite;
}

/* line 263, ../sass/style.scss */
.about_body {
  z-index: -3;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 5vh;
  left: 0px;
  -moz-transform: translateX(100vw);
  -ms-transform: translateX(100vw);
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  font-size: 1.5em;
  color: snow;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
}
/* line 283, ../sass/style.scss */
.about_body p {
  color: gray;
}
/* line 287, ../sass/style.scss */
.about_body img {
  width: 60%;
}

/* line 292, ../sass/style.scss */
.creator_body {
  position: fixed;
  top: 5vh;
  left: 0px;
  z-index: 30;
  width: 100vw;
  height: 100vh;
  -moz-transform: translateX(100vw);
  -ms-transform: translateX(100vw);
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  font-size: 1.3em;
  color: gray;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
}
/* line 311, ../sass/style.scss */
.creator_body .creator_block:nth-child(1) .creator_img {
  background-size: auto 100%;
  background-image: url("../img/_profile.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 319, ../sass/style.scss */
.creator_body .creator_block:nth-child(2) .creator_img {
  background-size: auto 100%;
  background-image: url("../img/practical.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 327, ../sass/style.scss */
.creator_body .creator_block:nth-child(3) .creator_img {
  background-size: auto 100%;
  background-image: url("../img/code.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 335, ../sass/style.scss */
.creator_body .creator_block:nth-child(4) .creator_img {
  background-size: auto 100%;
  background-image: url("../img/_profile_two.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 343, ../sass/style.scss */
.creator_body .creator_block {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 50%;
  margin: 3% 0;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
/* line 350, ../sass/style.scss */
.creator_body .creator_block:hover {
  -moz-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}
/* line 354, ../sass/style.scss */
.creator_body .creator_block .creator_img {
  display: inline-block;
  width: 32vh;
  height: 32vh;
  left: 0px;
  vertical-align: middle;
  border-radius: 50%;
}
/* line 362, ../sass/style.scss */
.creator_body .creator_block .creator_content {
  display: inline-block;
  width: 65%;
  height: 100%;
  right: 0px;
  vertical-align: middle;
}
/* line 369, ../sass/style.scss */
.creator_body .creator_block .creator_content pre {
  text-align: justify;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2em;
}
/* line 374, ../sass/style.scss */
.creator_body .creator_block .creator_content pre span {
  color: snow;
}
/* line 376, ../sass/style.scss */
.creator_body .creator_block .creator_content pre span a {
  color: snow;
  position: relative;
  text-decoration: none;
}
/* line 382, ../sass/style.scss */
.creator_body .creator_block .creator_content pre span a:hover:before {
  visibility: visible;
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* line 388, ../sass/style.scss */
.creator_body .creator_block .creator_content pre span a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0px;
  background: snow;
  visibility: hidden;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
/* line 402, ../sass/style.scss */
.creator_body .creator_block .creator_content:after {
  display: inline-block;
  content: '';
  height: 100%;
  vertical-align: middle;
}
/* line 409, ../sass/style.scss */
.creator_body .creator_block:after {
  display: inline-block;
  content: '';
  height: 100%;
  vertical-align: middle;
}

/* line 419, ../sass/style.scss */
.egg {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 50px;
  height: 50px;
  z-index: 300;
}
/* line 426, ../sass/style.scss */
.egg .egg_in {
  width: 100%;
  height: 100%;
  -moz-box-shadow: 0px 0px 20px snow;
  -webkit-box-shadow: 0px 0px 20px snow;
  box-shadow: 0px 0px 20px snow;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 433, ../sass/style.scss */
.egg .egg_in:hover {
  background: snow;
  -moz-animation: egg_an 1s infinite;
  -webkit-animation: egg_an 1s infinite;
  animation: egg_an 1s infinite;
}

@-moz-keyframes egg_an {
  0% {
    -moz-box-shadow: 0px 0px 20px white;
    box-shadow: 0px 0px 20px white;
  }
  50% {
    -moz-box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.5);
  }
  100% {
    -moz-box-shadow: 0px 0px 60px transparent;
    box-shadow: 0px 0px 60px transparent;
  }
}
@-webkit-keyframes egg_an {
  0% {
    -webkit-box-shadow: 0px 0px 20px white;
    box-shadow: 0px 0px 20px white;
  }
  50% {
    -webkit-box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.5);
  }
  100% {
    -webkit-box-shadow: 0px 0px 60px transparent;
    box-shadow: 0px 0px 60px transparent;
  }
}
@keyframes egg_an {
  0% {
    -moz-box-shadow: 0px 0px 20px white;
    -webkit-box-shadow: 0px 0px 20px white;
    box-shadow: 0px 0px 20px white;
  }
  50% {
    -moz-box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.5);
  }
  100% {
    -moz-box-shadow: 0px 0px 60px transparent;
    -webkit-box-shadow: 0px 0px 60px transparent;
    box-shadow: 0px 0px 60px transparent;
  }
}
/* line 451, ../sass/style.scss */
.detail {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -3;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
/* line 465, ../sass/style.scss */
.detail ._block {
  position: relative;
  top: 0px;
  width: 80%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  -moz-box-shadow: 0px 0px 20px black inset;
  -webkit-box-shadow: 0px 0px 20px black inset;
  box-shadow: 0px 0px 20px black inset;
}
/* line 477, ../sass/style.scss */
.detail ._block ._img {
  width: 60%;
  height: 80%;
  background-position: center;
  background-size: 100% auto;
  -moz-box-shadow: 0px 0px 60px 30px black inset;
  -webkit-box-shadow: 0px 0px 60px 30px black inset;
  box-shadow: 0px 0px 60px 30px black inset;
  opacity: 0;
  -moz-transition: box-shadow 0.2s, -moz-transform 0.3s 0.1s, opacity 0.3s 0.1s;
  -o-transition: box-shadow 0.2s, -o-transform 0.3s 0.1s, opacity 0.3s 0.1s;
  -webkit-transition: box-shadow 0.2s, -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition-delay: 0s, 0.1s, 0.1s;
  transition: box-shadow 0.2s, transform 0.3s 0.1s, opacity 0.3s 0.1s;
  -moz-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}
/* line 483, ../sass/style.scss */
.detail ._block ._img:hover {
  -moz-box-shadow: 0px 0px 0px 0px black inset;
  -webkit-box-shadow: 0px 0px 0px 0px black inset;
  box-shadow: 0px 0px 0px 0px black inset;
}
/* line 491, ../sass/style.scss */
.detail ._block ._cover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 80%;
}
/* line 499, ../sass/style.scss */
.detail ._block ._cover ._content {
  text-align: justify;
  width: 100%;
  height: 100%;
  margin: 5%;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 0px 20px black;
  -webkit-box-shadow: 0px 0px 20px black;
  box-shadow: 0px 0px 20px black;
  opacity: 0;
  -moz-transition: -moz-transform 0.3s 0.2s, opacity 0.3s 0.2s;
  -o-transition: -o-transform 0.3s 0.2s, opacity 0.3s 0.2s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition-delay: 0.2s, 0.2s;
  transition: transform 0.3s 0.2s, opacity 0.3s 0.2s;
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}
/* line 500, ../sass/style.scss */
.detail ._block ._cover ._content span {
  color: snow;
}
/* line 516, ../sass/style.scss */
.detail ._block ._cover .preview_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 0px 20px black;
  -webkit-box-shadow: 0px 0px 20px black;
  box-shadow: 0px 0px 20px black;
  width: 100px;
  height: 100px;
  cursor: pointer;
  opacity: 0;
  -moz-transition: -moz-transform 0.3s 0.3s, opacity 0.3s 0.3s;
  -o-transition: -o-transform 0.3s 0.3s, opacity 0.3s 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition-delay: 0.3s, 0.3s;
  transition: transform 0.3s 0.3s, opacity 0.3s 0.3s;
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}
/* line 532, ../sass/style.scss */
.detail ._back {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 5vw;
  height: 5vw;
}
/* line 538, ../sass/style.scss */
.detail ._back:hover {
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  cursor: pointer;
}
/* line 543, ../sass/style.scss */
.detail ._back:after {
  position: absolute;
  top: 0px;
  right: 45%;
  content: '';
  background-color: white;
  display: inline-block;
  width: 10%;
  height: 100%;
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
/* line 554, ../sass/style.scss */
.detail ._back:before {
  position: absolute;
  top: 0px;
  left: 45%;
  content: '';
  background-color: white;
  display: inline-block;
  width: 10%;
  height: 100%;
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

/* line 568, ../sass/style.scss */
.to_top {
  position: fixed;
  bottom: 7vh;
  left: 3vw;
  width: 60px;
  height: 60px;
  color: snow;
  opacity: 0;
  z-index: 50;
  -moz-box-shadow: 0px 0px 10px snow;
  -webkit-box-shadow: 0px 0px 10px snow;
  box-shadow: 0px 0px 10px snow;
  -moz-transition: opacity 0.2s, -moz-transform 0.4s;
  -o-transition: opacity 0.2s, -o-transform 0.4s;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.4s;
  transition: opacity 0.2s, transform 0.4s;
}
/* line 582, ../sass/style.scss */
.to_top:hover:after {
  -moz-animation: top_animation 0.2s linear forwards;
  -webkit-animation: top_animation 0.2s linear forwards;
  animation: top_animation 0.2s linear forwards;
}
/* line 586, ../sass/style.scss */
.to_top:after {
  cursor: pointer;
  content: 'Back';
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@-moz-keyframes top_animation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    content: 'Top';
  }
  100% {
    opacity: 1;
    content: 'Top';
  }
}
@-webkit-keyframes top_animation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    content: 'Top';
  }
  100% {
    opacity: 1;
    content: 'Top';
  }
}
@keyframes top_animation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    content: 'Top';
  }
  100% {
    opacity: 1;
    content: 'Top';
  }
}
@-moz-keyframes loading_animation {
  0% {
    -moz-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  50% {
    -moz-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }
  100% {
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes loading_animation {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes loading_animation {
  0% {
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  50% {
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }
  100% {
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
/* line 624, ../sass/style.scss */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* line 628, ../sass/style.scss */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* line 631, ../sass/style.scss */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 1px solid white;
}
