/* line 5, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
body {
  background-color: #141414;
  overflow: hidden;
  -moz-animation: backgroundChange 3s linear infinite;
  -webkit-animation: backgroundChange 3s linear infinite;
  animation: backgroundChange 3s linear infinite;
}

/* line 11, ../sass/style.scss */
canvas {
  -moz-animation: turn 10s linear infinite;
  -webkit-animation: turn 10s linear infinite;
  animation: turn 10s linear infinite;
  -moz-transform: rotateZ(0deg) scaleX(1.5) scaleY(1.5);
  -ms-transform: rotateZ(0deg) scaleX(1.5) scaleY(1.5);
  -webkit-transform: rotateZ(0deg) scaleX(1.5) scaleY(1.5);
  transform: rotateZ(0deg) scaleX(1.5) scaleY(1.5);
}

@-moz-keyframes backgroundChange {
  0% {
    background-color: #141414;
  }
  100% {
    background-color: black;
  }
}
@-webkit-keyframes backgroundChange {
  0% {
    background-color: #141414;
  }
  100% {
    background-color: black;
  }
}
@keyframes backgroundChange {
  0% {
    background-color: #141414;
  }
  100% {
    background-color: black;
  }
}
@-moz-keyframes turn {
  0% {
    -moz-transform: rotateZ(0deg) scaleX(1.5) scaleY(1.5);
    transform: rotateZ(0deg) scaleX(1.5) scaleY(1.5);
  }
  50% {
    -moz-transform: rotateZ(180deg) rotateY(90deg) rotateX(-90deg) scaleX(3) scaleY(3);
    transform: rotateZ(180deg) rotateY(90deg) rotateX(-90deg) scaleX(3) scaleY(3);
  }
  100% {
    -moz-transform: rotateZ(360deg) scaleX(1.5) scaleY(1.5);
    transform: rotateZ(360deg) scaleX(1.5) scaleY(1.5);
  }
}
@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1.5) scaleY(1.5);
    transform: rotateZ(0deg) scaleX(1.5) scaleY(1.5);
  }
  50% {
    -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(-90deg) scaleX(3) scaleY(3);
    transform: rotateZ(180deg) rotateY(90deg) rotateX(-90deg) scaleX(3) scaleY(3);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scaleX(1.5) scaleY(1.5);
    transform: rotateZ(360deg) scaleX(1.5) scaleY(1.5);
  }
}
@keyframes turn {
  0% {
    -moz-transform: rotateZ(0deg) scaleX(1.5) scaleY(1.5);
    -ms-transform: rotateZ(0deg) scaleX(1.5) scaleY(1.5);
    -webkit-transform: rotateZ(0deg) scaleX(1.5) scaleY(1.5);
    transform: rotateZ(0deg) scaleX(1.5) scaleY(1.5);
  }
  50% {
    -moz-transform: rotateZ(180deg) rotateY(90deg) rotateX(-90deg) scaleX(3) scaleY(3);
    -ms-transform: rotateZ(180deg) rotateY(90deg) rotateX(-90deg) scaleX(3) scaleY(3);
    -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(-90deg) scaleX(3) scaleY(3);
    transform: rotateZ(180deg) rotateY(90deg) rotateX(-90deg) scaleX(3) scaleY(3);
  }
  100% {
    -moz-transform: rotateZ(360deg) scaleX(1.5) scaleY(1.5);
    -ms-transform: rotateZ(360deg) scaleX(1.5) scaleY(1.5);
    -webkit-transform: rotateZ(360deg) scaleX(1.5) scaleY(1.5);
    transform: rotateZ(360deg) scaleX(1.5) scaleY(1.5);
  }
}
